/*******  COMMON BEGIN  *******/
* {
  padding: 0;
  margin: 0;
  text-align: left;
  font-family:Arial, Verdana, Tahoma, "宋体", Helvetica, sans-serif;
}
body {
  font-size: 14px;
  text-align: center;
  color: #000000;
}
table {
  border-collapse: collapse;
}
td {
  padding: 3px;
}
img {
  border: none;
}
input {
  padding: 1px;
  vertical-align: middle;
  line-height: normal;
}
.main-box {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  clear: both;
  zoom:1;
  overflow:hidden;
  background-color: #CCCCCC;
}
.text-overflow-hidden {
  white-space: nowrap;
  word-spacing: normal;
  letter-spacing: normal;
  overflow: hidden;
}
.box-align-center {
  margin-right: auto;
  margin-left: auto;
}
/*css定义超链接四个状态也有顺序的。*/

a:link, a:visited {
  text-decoration: none;
  color: #1F376D;
}
a:hover, a:active {
  text-decoration: underline;
  color: #BD0A01;
  border: none;
}
ul {
  clear:both;
  overflow:hidden;
  width: 100%;
}
ul, li {
  list-style:none;
}
/*******  COMMON END  *******/

.h1 {
  margin-top: 100px;
  text-align: center;
}
#hert {
  display: block;
  margin: 0 auto;
}
#la51_a + a {
  display: none;
}